
<h1>Dashboard</h1>


<h2>Inventory</h2>
<p>List of items currently used at this store</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Item Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Offer</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>

    <tr>
      <th scope="row"><%= link_to item.name, item %></th>
      <td><%= item.price%></td>
      <td><%= item.quantity %></td>
      <td><%= item.offer %></td>
    </tr>
    <% end %>

  </tbody>
</table>

<%= link_to "New Item", new_item_path %>

<h2>Customers</h2>
<p>List of current customers</p>
<ul>
  <% @customers.each do |customer| %>
    <li>     
      <p> <%= link_to customer.id, customer %>, Loyalty : <%= customer.loyalty %></p>
    </li>
  <% end %>
</ul>

<%= link_to "New Customer", new_customer_path %>

<%= link_to "New Sale", new_sale_path %>

<p>
Store Total Sales
<%= Sale.all.map(&:total_price).sum%>
</p>
