<h1>Dashboard</h1>

<h2>Inventory</h2>
<p>List of items currently used at this store</p>
<ul>
  <% @items.each do |item| %>
    <li>     
      <p> <%= link_to item.name, item %> Price: <%= item.price%>, Quantity: <%= item.quantity %>, Offer: <%= item.offer %></p>
    </li>
  <% end %>
</ul>

<%= link_to "New Item", new_item_path %>

<h2>Customers</h2>
<p>List of current customers</p>
<ul>
  <% @customers.each do |customer| %>
    <li>     
      <p> <%= link_to customer.id, customer %>, Loyalty : <%= customer.loyalty %></p>
    </li>
  <% end %>
</ul>

<%= link_to "New Customer", new_customer_path %>

<%= link_to "New Sale", new_sale_path %>