
<div class="container">
  <h1>DE-Store Dashboard</h1>

  <% @items.each do |item| %>
    <% if item.quantity < 5 %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong><%= item.name %></strong> only has <%= item.quantity%> left in stock.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% end %>
  <% end %>
  
      <div class="card border-dark mb-3">
      <div class="card-header">Inventory</div>
      <div class="card-body text-dark">
        <p class="card-text">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Offer</th>
              </tr>
            </thead>
            <tbody>
              <% @items.each do |item| %>

              <tr>
                <th scope="row"><%= link_to item.name, item %></th>
                <td>£<%= item.price%></td>
                <td><%= item.quantity %></td>
                <td><%= item.offer %></td>
              </tr>
              <% end %>

            </tbody>
          </table>
        </p>
        <%= link_to "New Item", new_item_path %>

      </div>
    </div>

      <div class="card border-dark mb-3">
        <div class="card-header">Customers</div>
        <div class="card-body text-dark">
          <p class="card-text">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Customer ID</th>
                  <th scope="col">Loyalty Status</th>
                </tr>
              </thead>
              <tbody>
                <% @customers.each do |customer| %>

                <tr>
                  <th scope="row"><%= link_to customer.id, customer %></th>
                  <td><%= customer.loyalty %></td>
                </tr>
                <% end %>

              </tbody>
            </table>
          </p>
          
          <%= link_to "New Customer", new_customer_path %>

        </div>
      </div>

            <div class="card border-dark mb-3">
        <div class="card-header">Shop Dashboard</div>
        <div class="card-body text-dark">
          <p>
             Store Total Sales
             £<%= Sale.all.map(&:total_price).sum%>
          </p>
          <%= link_to "New Sale", new_sale_path %>

        </div>
      </div>

    </div>






</div>